.btn {
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 0;
}

.btn-primary {
	border: 2px solid $red;

	&:hover {
		background-color: transparent;
		color: $red;
		border: 2px solid $red;
	}
}

.fl-builder-content a.fl-button {
	@extend .btn;
	@extend .btn-primary;
}