// Grid system
.main {
  @include make-sm-column($main-sm-columns);
  .sidebar-primary & {
    @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  }
}

.sidebar-wrapper {

	.content-area {
		@include make-sm-column(8);
	}

	.sidebar {
	  @include make-sm-column(4);
	}
}