/*
 * => GLOBAL ELEMENTS STYLES
 * ---------------------------------------------------------------------------*/

html {
  font-size: $font-size-base - 4;
  -ms-text-size-adjust: $font-size-base - 4;
  -webkit-text-size-adjust: auto;

  @media (min-width: $screen-xs-min) {
    font-size: $font-size-base - 2;
	  -ms-text-size-adjust: $font-size-base - 2;
  }
  @media (min-width: $screen-sm-min) {
    font-size: $font-size-base;
	  -ms-text-size-adjust: $font-size-base;
  }
}

a {}
p {}
hr {}

body {
  @include font-size(1); 
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  text-transform: uppercase;
  font-weight: 600;
}

h1, .h1 { @include font-size(1.5); }
h2, .h2 { @include font-size(1.3); }
h3, .h3 { @include font-size(1.1); }
h4, .h4 { @include font-size(0.9); } 
h5, .h5 { @include font-size(0.7); }
h6, .h6 { @include font-size(0.5); }

@include media('>phone') {
  h1, .h1 { @include font-size(2);   } 
  h2, .h2 { @include font-size(1.8); }
  h3, .h3 { @include font-size(1.4); }
  h4, .h4 { @include font-size(1.2); }
  h5, .h5 { @include font-size(1);   }
  h6, .h6 { @include font-size(0.8); }
}

@include media('>tabletwide') {
  h1, .h1 { @include font-size(2.5); }
  h2, .h2 { @include font-size(2.1); }
  h3, .h3 { @include font-size(1.8); }
  h4, .h4 { @include font-size(1.5); }
  h5, .h5 { @include font-size(1);   }
  h6, .h6 { @include font-size(0.8); }
}

// Helpers

.flex {
  @include media('>tablet') {
    display: flex;
    flex-wrap: wrap;
  }
}

img {
  max-width: 100%;
  height: 100%;
}