/*
 * => COLOR VARS & MIXINS
 * ---------------------------------------------------------------------------*/

/* Set the main site colors here. This will be used to auto-generate classes elsewhere. */

$white: #ffffff;
$black: #000;
$orange: rgb(233, 136, 36);
$graydark: #333;
$red: #7a1501;



/*
 * => BOOTSTRAP VARIABLES OVERRIDES
 * ---------------------------------------------------------------------------*/

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         $red;

$font-size-base:          16px;

$font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;