footer.content-info {
	background-color: $black;
	padding: 3rem 0 1rem;
	color: $white;

	img {
		height: auto;

		@include media('>tablet') {
			padding-right: 2rem;
		}
	}

	h3 {
		margin-top: 0;
	}

	a {
		color: $orange;

		&:hover {
			color: lighten($orange, 10%);
		}
	}

	.footer-news {
		a {
			display: block;
		}

		time {
			@include font-size(0.8);
		}

		li {
			margin-bottom: 0.8rem;
		}
	}

	.copyrights {
		margin-top: 2rem;
	}

	.social {
		font-size: 25px;
		margin-top: 1rem;

		a {
			color: $white;
			margin-right: 0.5rem;

			&:hover {
				color: $orange;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}