.navbar-default {
	margin-bottom: 0;
	border: 0;
	background-color: $white;

	@include media('>tablet') {
		position: fixed;
		width: 100%;
	}

	.container {
		position: relative;

		.navbar-brand {
			background-image: url(../images/nui-logo.png);
			background-repeat: no-repeat;
			background-size: contain;
			width: 200px;
			height: 46px;
			display: block;
			margin: 0 2rem 0 0;
			transition: all 200ms;

			@include media('>tablet') {
				width: 300px;
				height: 70px;
			}
		}
	}

	.navbar-header {
		margin: 1rem 0;
	}

	.header-right {
		margin: 0 -15px; 

    @include media('>tablet') {
	    display: flex;
	    flex-wrap: wrap;
	    text-align: right;
	    flex-grow: 1;
	    margin: 0;
	  }

    .navbar-collapse {
    	width: 100%;
	    align-self: flex-end;
    }

    .menu-main-menu-container {
    	@include font-size(1);

    	@include media('>tablet') {
	    	display: flex;
	    	@include font-size(0.9);
	    }

	    @include media('>tabletwide') {
	    	@include font-size(1);
	    }

    	.navbar-nav {
		    text-transform: uppercase;

		    @include media('>tablet') {
	    		display: flex;
	    		justify-content: space-between;
			    width: 100%;
		    }

		    & > li {

		    	& > a,
		    	&.active > a {
		    		color: $graydark;
		    		background-color: transparent;
		    		padding-top: 10px;
		    		padding-bottom: 10px;

		    		&:hover {
			    		background-color: $red;
			    		color: $white;
			    	}
		    	}

		    	&.active:hover > a {
		    		color: $white;
		    	}

		    	&.active > a,
		    	&.current_page_parent > a {
		    		color: $white;
		    		background-color: $red;
		    	}
		    }
    	}
    }
	}

	.navbar-toggle {
		border: 2px solid $red;
		border-radius: 0;

		&:hover,
		&:focus {
			background-color: $red;

			.icon-bar {
				background-color: $white;
			}
		}

		.icon-bar {
			background-color: $red;
		}
	}

	.search-form {
		display: none;
		right: 0;
		margin-top: 1rem;
		margin-right: 15px;
		position: absolute;

		@include media('>tablet') {
			display: block;
		}

		.search-field {
			border: 2px solid #ccc;
			height: auto;
			@include font-size(0.8);
			box-shadow: none;

			&:focus {
				border-color: $red;
			}
		}

		.search-submit {
			background-color: #ccc;
			@include font-size(0.8);
			border: 2px solid #ccc;

			&:hover {
				background-color: $red;
				border-color: $red;
				color: $white;
			}
		}
	}
}

.header-tag {
	font-size: 1.2rem;
	font-weight: 600;
	border-top: 1px solid $red;
	padding: 0.5rem 0;

	p {
		margin: 0;
	}
}


.navbar-default .navbar-nav {
	& > li.dropdown {
		display: flex;
		flex-wrap: wrap;

		@include media('>tablet') {
			display: block;
		}

		&.open {
			background-color: $red;
			color: $white;

			& > a {
				background-color: transparent;
				color: $white;
			}
		}

		&:hover {
			background-color: $red;

			& > a {
				color: $white;
			}

			.dropdown-menu {
				@include media('>tablet') {
					display: block;
				}
			}
		}

		.dropdown-menu {
			background-color: $red;
			border-radius: 0;
			box-shadow: none;
			border: 0;
			flex-basis: 100%;

			a,
			.active a {
				color: $white;
				background-color: $red;

				&:hover {
					background-color: $white;
					color: $red;
				}
			}
		}
	}

	.dropdown-mobile {
		display: inline-block;
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin: 0 30px 0;

		@include media('>tablet') {
			display: none;
		}
	}
}

.navbar-default.scrolled {

	.search-form {
		display: none;
	}

	.container .navbar-brand {
		width: 150px;
		height: 35px;
	}

	.header-right {
    .navbar-collapse {
    	align-self: center;
    }
  }
}

.header-spacing {
	@include media('>tablet') {
		width: 100%;
		height: 146px;
	}
}