.fl-row-bg-video {

	.fl-bg-video {

		video {
			top: -50%;
		}
	}
}

.btn-bottom {
	.fl-col-content {
		position: relative;
		padding-bottom: 75px;
	}

	.fl-module-button {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}