.sidebar-wrapper {
	margin-bottom: 3rem;
}

.page-title {
	padding: 5rem 0;
	color: $white;
	background-image: url(../images/people-woman-coffee-meeting.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 3rem;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparentize( $black, 0.5 );
	}

	h1,
	time {
		position: relative;
	}
}

.single .content {
	margin-bottom: 3rem;
}

.post-columns {
	margin-top: 3rem;
	display: flex;
	flex-wrap: wrap;

	.post {
		width: 32.33%;
		margin-right: 1.5%;
		margin-bottom: 1rem;
		flex-shrink: 0;

		&:nth-of-type(3) {
			margin-right: 0;
		}

		time {
			font-weight: 700;
			@include font-size(0.9);
			margin-bottom: 0.3rem;
			display: block;
		}

		img {
			height: auto;
		}
	}

	h2 {
		@include font-size(1.2);
		margin-bottom: 0.3rem;
	}
}

.fl-builder-content .fl-sidebar-highlight {
	a.fl-button {
		background-color: transparent;
		border: 2px solid $orange;

		.fl-button-text {
			color: $orange;
		}

		&:hover {
			background-color: $orange;

			.fl-button-text {
				color: $white;
			}
		}
	}
}